.recommendations {
  padding: 0px, 20px 30px 20px;
  color: white;
}

.recommendations-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.recommendations-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.recommendation-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  text-align: center;
}

.recommendation-card img {
  max-height: 100px;
  object-fit: contain;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.recommendation-card h3 {
  margin: 5px 0;
  font-size: 16px;
}

.recommendation-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.recommendation-card h1 {
  color: black;
}
